.date-field {
  @include zen-grid-item(4, 1);
  @include breakpoint($medium-desktop) {
    @include zen-grid-item($zen-column-count, 1);
  }
}

.start-time-field {
  @include zen-grid-item(4, 5);
  @include breakpoint($medium-desktop) {
    @include span-width-and-clear(6, 1);
  }
  @include breakpoint($desktop-max) {
    @include span-width-and-clear($zen-column-count, 1);
  }
}

.end-time-field {
  @include zen-grid-item(4, 10);
  @include breakpoint($medium-desktop) {
	  @include zen-grid-item(6, 8);
  }
  @include breakpoint($desktop-max) {
	  @include span-width-and-clear($zen-column-count, 1);
  }
}
