.city-field {
  @include zen-grid-item(4, 1);
  @include breakpoint($small-tablet-max) {
    @include zen-grid-item(6, 1);
  }
  @include breakpoint($mobile-max) {
    @include span-width-and-clear();
  }
}

.state-field {
  @include zen-grid-item(4, 6);
  @include breakpoint($small-tablet-max) {
    @include zen-grid-item(6, 8);
  }
  @include breakpoint($mobile-max) {
    @include span-width-and-clear();
  }
}

.zipcode-field {
  @include zen-grid-item(3, 11);
  @include breakpoint($small-tablet-max) {
    @include span-width-and-clear();
  }
}

