.presidents-role-field {
  // order itmes into 3 columns 
  @include newline-after-content('&');
  .form-type-checkbox {
    float: left;
    width: 33%;
    &:nth-child(4) {
      clear: left;
    }
    @include breakpoint($small-tablet-max) {
	    width: 49%;
      &:nth-child(3), > div:nth-child(5) {
        display: table;
      }
      &:nth-child(3) > label {
        margin-left: 5px;
      }
      &:nth-child(4) {
        clear: none;
      }
      &:nth-child(even) > input {
        margin-left: 2em;
      }
      @include breakpoint($mobile-max) {
        width: 100%;
        clear: left;
        display: block;
        &:nth-child(even) > input {
          margin-left: 0;
        }
      }
    }
  }
}

.tooltip {
  position: relative;
  top: -5px;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  background-color: $wwu-ocean-blue;
  color: #fff;
  @media screen and (min-width: 367px) and (max-width: $tooltip-max) {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  width: 30px;
  height: 30px;
  border-radius: 15px;
  > span:first-child {
    position: relative;
    top: 3px;
    left: .5px;
  }

  .tooltiptext {
    text-align: left;
    visibility: hidden;
    color: #fff;
    padding-left: .3em;
    position: absolute;
    width: 280px;
    background-color: $wwu-ocean-blue;
    border-radius: 3px;
    left: -295px;
    opacity: 0;
    transition: opacity 1s;
    @include breakpoint($tooltip-change-position) {
      left: 40px;
      width: 40vw;
    }
    @include breakpoint($desktop) {
      left: 40px;
    }
  }

  > .tooltiptext::after {
    color: blue;
    content: "";
    position: absolute;
    top: 50%;
    left: 285px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent $wwu-ocean-blue;
    @include breakpoint($tooltip-change-position) {
      border: none;
    }
    @include breakpoint($desktop) {
      left: -10px;
      border-color: transparent $wwu-ocean-blue transparent transparent;
    }
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }

}

.purpose-of-event-field .description {
  display: none;
}

