.first-name-field {
  @include span-width-and-clear();
  @include zen-grid-item(2, 1);
  @include breakpoint($medium-desktop) {
    @include span-width-and-clear(6, 1);
  }
  @include breakpoint($small-tablet-max) {
    @include span-width-and-clear($zen-column-count, 1);    
  }
}

.last-name-field {
  @include zen-grid-item(2, 4);
  @include breakpoint($medium-desktop) {
    @include zen-grid-item(6, 8);
  }
  @include breakpoint($small-tablet-max) {
    @include span-width-and-clear($zen-column-count, 1);    
  }
}

.phone-field {
  @include zen-grid-item(3, 7);
  @include breakpoint($medium-desktop) {
    @include span-width-and-clear(6, 1);
  }
  @include breakpoint($small-tablet-max) {
    @include span-width-and-clear($zen-column-count, 1);    
  }
}

.email-field {
  @include zen-grid-item(3, 11);
  @include breakpoint($medium-desktop) {
    @include zen-grid-item(6, 8);
  }
  @include breakpoint($small-tablet-max) {
    @include span-width-and-clear($zen-column-count, 1);    
  }
}

.requestor-information-fieldset > div > .webform-component-markup {
  margin-bottom: 0;
}

.organization-field {
  @include zen-grid-item(13, 1);
}
