.podium-field {
  margin-top: 0;
  @include zen-grid-item(3, 1);
  @include breakpoint($small-tablet-max) {
    @include zen-grid-item(6,1);
  }
}

.microphone-field {
  margin-top: 0;
  @include zen-grid-item(3, 5);
  & + div {
    @include zen-clear();
  }
  @include breakpoint($small-tablet-max) {
    @include zen-grid-item(6, 8);
  }
  @include breakpoint($mobile-max) {
    @include zen-grid-item(7, 7);
  }
}

.expected-media-field {
  @include zen-grid-item(8, 1);
  @include breakpoint($medium-desktop) {
    @include zen-grid-item(6, 1);
  }
  @include breakpoint($small-tablet-max) {
    @include zen-grid-item(13, 1);
  }
}

.open-to-public-field {
  @include zen-grid-item(4, 10);
  @include breakpoint($medium-desktop) {
    @include zen-grid-item(6, 8);
  }
  @include breakpoint($small-tablet-max) {
    @include span-width-and-clear();
  }
}

.additional-comments-field {
  @include zen-clear();
}

.type-of-remarks-requested-field {
  @include newline-after-content('&');
  .form-type-checkbox {
    float: left;
    width: 49%;
    &:nth-child(3), &:nth-child(5) {
      display: table;
      > label {
        margin-left: 5px;
      }
    }
    @include breakpoint($desktop-max) {
      &:nth-child(odd) {
        @extend .fill-width;
      }
    }
  }
}

.audience-for-event-field {
  @include newline-after-content('&');
  .form-type-checkbox {
    float: left;
    width: 33%;
    &:nth-child(4), &:nth-child(8) {
      display: table;
      > label {
        margin-left: 5px;
      }
    }
    @include breakpoint($medium-desktop) {
      width: 49%;
      &:nth-child(even) {
        display: block;
        > label {
          margin-left: 0;
        }
      }
      &:nth-child(odd) {
        display: table;
        > label {
          margin-left: 5px;
        }
      }
    }
    @include breakpoint($desktop-max) {
      @extend .fill-width;
    }
  }
}

.fill-width {
  @include breakpoint($desktop-max) {
    clear: left;
    width: 100%;
    display: block;
    > label {
      margin-left: 0;
    }
  }
}

