body {
  background:url("../images/redSquareBackground.jpg");
  background-color: $red-square-gray;
  background-position:bottom;
  background-repeat: no-repeat;
}

main .page-title {
 border-bottom: none;
}

.wwu-65-percent-left-column h4 {
  margin-top:33px;
  padding-top:30px;
  border-top-width: 3px 0 3px 3px;
  border-top-style: solid;
  border-top-color:#cdc9c9;
  // border-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)) 1 100%;
}
