.ctas {
  text-transform:uppercase;
  color:#ffffff;
  background-color:#000000;
  background-repeat: no-repeat;
  display: block;
  height:215px;
  width:310px;

  h4 {
    text-transform:uppercase;
    color:#ffffff;
    text-align:center;
    padding-top: 3em;
  }

  a:focus {
    outline: thin dotted;
  }

}

.equity-and-inclusion {
  background-image: url("../images/TaskForceOnEquityInclusion.jpg");
  a {
      color:#ffffff;
  }
  h4 {
      margin: auto;
  }
}

.administrative-leadership {
  background-image: url("../images/AdministrativeLeadershipProgram.jpg");
  h4 {
      color:$wwu-blue;
  }
}

.government-relations {
  background-image: url("../images/GovernmentRelations3.jpg");
  a { color:#ffffff; }
  h4 {
    width: 8em;
    padding-left: 5em;
  }
}
