$zen-grid-width: 100%;
$zen-column-count: 13;
$zen-gutter-width: 10px;
$two-lines: 1;
$four-lines: 2;


.requestor-information-fieldset {
  .webform-component-radios {
    @include zen-clear();
  }  
}

.clear-grid {
  @include zen-clear();
}

.onsite-contact-info-header {
  font-size: 1.2em;
}

.responsive-fieldset {
  margin-top: 1em;
  
  @include zen-grid-container;
  input[type="text"], input[type="email"] {
    width: 100%;
  }

  @import 'president_request_form/requestor-info';
  @import 'president_request_form/event-info';
  @import 'president_request_form/event-location';
  @import 'president_request_form/event-description';
  @import 'president_request_form/speaking-request-info';
}
