.pane-western-news-panel-pane-1 {
  margin-top:33px;
  padding-top:30px;
  border-top-width: 3px 0 3px 3px;
  border-top-style: solid;
  border-top-color:#cdc9c9;
  // border-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)) 1 100%;

  h2 {
      background: url(../images/WesternNews.svg) 7em 0;
      background-repeat: no-repeat;
      background-size: contain;
  }
}

.view-western-news {
  background-color:#ffffff;
  padding:1em;

.view-content {
  border-bottom:1px solid #cdc9c9;
  // border-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)) 1 100%;
}

  .views-field {
    padding-right:1em;
    border-right:1px dashed #cdc9c9;
  }
  .views-column-last .views-field {
    border-right:none;
  }


  .more-link {
      height:1.491em;
      text-align:left;
      border-radius: 10px;
      background-color:$wwuLtblue-20-percent;
      padding:.75em;
      margin-left:1em;
      margin-top:1em;
      text-transform: uppercase;
      font-size: .75em;
      color:$wwu-blue;
      width: 9em;
  }
}
