.president-tweets {
  margin-top:33px;
  padding-top:30px;
  border-top-width: 3px 0 3px 3px;
  border-top-style: solid;
  border-top-color:#cdc9c9;
  // border-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)) 1 100%;

  h2 {
    background: url(../images/PresidentsTweets.svg) 12.5em 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .president-tweets-grid {
    background-color: #ffffff;
    text-align:center;
    padding:1em;
  }

  .views-column {
    padding-right:1em;
    border-right:1px dashed #cdc9c9;
  }

  .views-column-last {
    border-right:none;
  }

  .tweet-profile-picture {
    img {
      @include border-radius(8px, 8px);}
  }



  .tweet-author {
    color:$wwu-ocean-blue;

      &::before{
      content: "@";
      }
    }
  .tweet-text {
    text-align: left;
  }
}
