.latest-communications {
  h2 {
    background: url(../images/LatestCommunications.svg) 11em 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .views-more-link {
      background: url(../images/ReadMore.svg) 0em 0;
      background-repeat: no-repeat;
      background-size: contain;
      margin-top:1em;
      padding-left:3em;
      display:block;
    }

    .more-link {
      height:1.491em;
      text-align:left;
      border-radius: 10px;
      background-color:$wwuLtblue-20-percent;
      padding:.75em;
      margin-top:4.5em;
      text-transform: uppercase;
      font-size: .75em;
      color:$wwu-blue;
      width: 15em;
    }
}

.communication-type {
  height:1.491em;
  width:100%;
  border-radius: 10px;
  background-color:$wwuYellow-60-percent;
  padding:.4em;
  text-transform: uppercase;
  font-size: .9em;
}

.communication-date {
  margin-bottom:1em;
  color:$wwu-blue;
  font-size: .9em;
}
