/*  
  all variables with a '-max' extension are there as a convenience to easily use max-width media queries in conjunction with breakpoint-sass
*/

$tooltip-max: 405px;

$tablet: 321px;

$mobile: 400px;
$mobile-max: max-width 400px;

$tooltip-change-position: max-width $tooltip-max;

$small-tablet: 600px;
$small-tablet-max: max-width 600px;

$desktop: 801px;
$desktop-max: max-width 801px;
$medium-desktop: max-width 1030px;
