@mixin span-width-and-clear($width:$zen-column-count, $start:1) {
   @include zen-grid-item($width, $start);
   @include zen-clear();
}

@mixin newline-after-content($selector) {
  #{$selector}::after {
    content: '';
    display: block;
    clear: left;
  }
}
